body {
	
	font-size: 15px;
	line-height: 1.8;
	font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	&.menu-show {
		overflow: hidden;
		position: fixed;
		height: 100%;
		width: 100%;
	}
}

.btn-primary{
	position: relative;
}

.modal{
	height: 300px;
  width: 100%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.vm--modal {
  overflow: scroll !important;
	top: 533px;
	left: 286px;
	width: 600px;
  height: 600px !important;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.navbar-brand {
	font-weight: 800;
	font-size: 20px;
	text-transform: uppercase;
}

.img{
  height: 300px;
  width: 100%
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropdown-title {
  display: flex;
  justify-content: space-around;
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
	div{
    width: 30%;
    height: 300px;
    list-style: none;
	}
}

@media screen and (max-width: 768px) {
  .img{
    height: 50%;
  }
  .dropdown-content {
    width: max-content;
    overflow: scroll;
  }
  .container p{
    height: 100px;
  }
  #qty{
    width: 80px;
  }
  .vm--modal {
    left: 0 !important;
    width: 100% !important;
    height: max-content;
    overflow: scroll;
  }
}